// Custom button styles

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.nav-link {
  font-weight: 500;
}
.btn-primary {
  &:hover {
    background-color: darken($primary, 10%);
  }

  & {
    background-color: $primary;
    border-color: $primary;
  }
}
// Override Bootstrap Icons default styles
.bi {
  color: $icon-color-primary;   // Apply default color to all Bootstrap icons

  &:hover {
    color: $icon-hover-color;   // Apply hover color to all icons
  }
}
.bi-secondary {
  color: $icon-color-secondary;   

  &:hover {
    color: $icon-hover-color;   // Apply hover color to all icons
  }
}
